{% extends "app/base.html" %}
{% load static %}
{% block page_title %}{% endblock page_title %}

{% block content %}
<div class="flex">
    <!-- Sidebar -->
    <div class="w-64 h-screen bg-gray-700 text-white">
        <ul class="space-y-2 py-2">
            <!-- Dashboard Link -->
            {% comment %} <li><a href="{% url 'home' %}" class="block px-4 py-2">Dashboard</a></li> {% endcomment %}

            <!-- Report Management Group -->
            <li>
                <span class="block px-4 py-2 font-semibold">Space Report Management</span>
                <ul class="pl-4">
                    <li><a href="{% url 'admin_review_new_space_reports' %}" class="block px-4 py-2 hover:bg-gray-800">Unreviewed Reports</a></li>
                    <li><a href="{% url 'admin_review_reviewed_space_reports' %}" class="block px-4 py-2 hover:bg-gray-800">Reviewed Reports</a></li>
                    <li><a href="{% url 'admin_view_all_space_reports' %}" class="block px-4 py-2 hover:bg-gray-800">All ShareSpace Reports</a></li>
                    <!-- More Report Management links -->
                </ul>
            </li>

            <li>
                <span class="block px-4 py-2 font-semibold">File Report Management</span>
                <ul class="pl-4">
                    <li><a href="{% url 'admin_review_new_file_reports' %}" class="block px-4 py-2 hover:bg-gray-800">Unreviewed Reports</a></li>
                    <li><a href="{% url 'admin_review_reviewed_file_reports' %}" class="block px-4 py-2 hover:bg-gray-800">Reviewed Reports</a></li>
                    <li><a href="{% url 'admin_view_all_file_reports' %}" class="block px-4 py-2 hover:bg-gray-800">All File Reports</a></li>
                    <!-- More Report Management links -->
                </ul>
            </li>

            <li><a href="{% url 'audit_log' %}" class="block px-4 py-2 hover:bg-gray-800">Audit Log</a></li>
        </ul>
    </div>

    <!-- Main content -->
    <div class="flex-1">
        <div class="tab-content">
            {% block admin_content %}
            {% endblock admin_content %}
        </div>
    </div>
</div>
{% endblock content %}