{% extends "admin_panel/base.html" %}

{% block admin_content %}
<div class="reports-container container mx-auto p-5">
    <h1 class="text-3xl font-semibold pb-5">Reviewed File Reports: {{ reports|length }}</h1>
    <div class="reports grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for report in reports %}
        <div class="report-card bg-gray-50 py-5 px-6 border border-gray-300 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
            <div class="flex flex-row justify-between">
                <h2 class="text-2xl font-bold mb-4">Report #{{ report.id }}</h2>
                <p class="text-sm text-gray-700 text-right font-semibold">{{ report.time_since_submission}} ago</p>
            </div>
            
            <div class="flex flex-row justify-between">
                <div>
                    <p class="text-sm text-gray-700">Submitted by: <span class="font-medium">{{ report.reported_by.username }}</span></p>
                    <p class="text-sm text-gray-700">Against: <span class="font-medium">{{ report.user_reported.username }}</span></p>
                </div>
                <div class="text-right">
                    <p class="text-sm text-gray-700">Status: <span class="font-semibold text-indigo-700">{{ report.get_status_display }}</span></p>
                    <p class="text-sm text-gray-700">Reviewed by: <span class="font-medium">{{ report.reviewed_by.username }}</span></p>
                </div>
            </div>
            
            
        
            <div class="flex flex-wrap gap-2 justify-between mt-5">                
                <form action="{% url 'review_space_no_action' request.user.id report.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="px-5 py-2 text-sm font-semibold text-white {% if report.status != "RNA" %}bg-green-500 hover:bg-green-600 {% else %}bg-green-300 {% endif %}rounded-md focus:outline-none focus:ring-2 focus:ring-green-300 focus:ring-offset-2 transition duration-300 ease-in-out" {% if report.status == "RNA" %}disabled{% endif %}>No Action Taken</button>
                </form>
                
                <form action="{% url 'review_space_action_taken' request.user.id report.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="px-5 py-2 text-sm font-semibold text-white rounded-md {% if report.status != "RAT" %}bg-red-500 hover:bg-red-600 {% else %}bg-red-300 {% endif %}focus:outline-none focus:ring-2 focus:ring-red-300 focus:ring-offset-2 transition duration-300 ease-in-out" {% if report.status == "RAT" %}disabled{% endif %}>Action Taken</button>
                </form>

                <a href="{% url 'view_share_space' report.space_reported.id %}" class="px-5 py-2 text-sm font-semibold text-white bg-blue-500 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-2 transition duration-300 ease-in-out" target="_blank">View File</a>
            </div>
        </div>
        
        {% endfor %}
    </div>
</div>
{% endblock admin_content %}