.header-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero-section {
  padding: 60px 0;
}

.hero-content {
  max-width: 50%;
}

.hero-title {
  font-size: 3rem; /* Large, bold font for impact */
  margin-bottom: 15px;
}

.hero-description {
  font-size: 1.25rem; /* Readable size for the description */
  color: #333;
  margin-bottom: 30px;
}

.hero-cta {
  display: inline-block;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.hero-image {
  max-width: 45%;
}

.hero-image img {
  width: 65%;
}

.features-section {
  padding: 40px 0;
}

.feature-block {
  background-color: #fff;
  border-radius: 10px;
  padding: 32px 48px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.feature-block:hover {
  transform: translateY(-5px);
}

.feature-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #666;
}

.cta-title {
  font-size: 2rem;
  font-weight: 600;
}

.cta-description {
  margin-bottom: 20px;
}



@media (max-width: 768px) {
  .hero-section {
    padding: 40px 15px;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
