{% extends "app/base.html" %}
{% load tailwind_filters %}
{% load static %}

{% block page_title %}Edit ShareSpace{% endblock page_title %}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="card bg-white py-4 px-5 shadow-lg rounded-lg">
        <h3 class="text-2xl font-semibold text-gray-800">Edit ShareSpace</h3>
        <form method="POST" enctype="multipart/form-data" class="mt-4" id="upload-form">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-4">
                {{ form.title|as_crispy_field }}
            </div>

            <div class="flex flex-row flex-wrap md:gap-x-4">
                {{ form.visibility|as_crispy_field }}
                <div id="div_id_password" class="mb-4 basis-full lg:basis-2/5 xl:basis-4/7">
                    {{ form.password.errors}}
                    <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">
                        Password
                    </label>
                    <div class="relative">
                        <input id="passwordinput" type="password" name="password" maxlength="50" class="passwordinput border text-gray-700 block leading-normal appearance-none border-gray-300 focus:outline-none rounded-lg w-full px-4 bg-white py-2" id="id_password" value={{ form.password.value }}>
                        <button id="togglePassword" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>

            </div>

            <div class="mb-4">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="flex flex-row gap-2">
                <a href="{% url "view_share_space" share_space.id %}" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back</a>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>

<script src="{% static "js/editShareSpace.js" %}" defer></script>
{% endblock content %}
