{% extends "app/base.html" %}
{% load tailwind_filters %}

{% block page_title %}You Do Not Have Access{% endblock page_title %}

{% block content %}
    <div class="container mx-auto mt-10">
        <div class="flex justify-center items-center p-10">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 w-2/6">
                <h1 class="block text-gray-700 text-xl font-bold mb-2">Space Access Denied</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div id="div_id_password" class="mb-3">
                        <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">
                            Password<span class="asteriskField">*</span>
                        </label>
                        <input type="password" name="password" maxlength="50" class="passwordinput px-3 border block shadow text-gray-700 focus:outline-none py-2 w-full appearance-none rounded-lg border-gray-300 leading-tight bg-white focus:shadow-outline" required="" id="id_password">
                    </div>
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            <i class="fas fa-lock"></i> Enter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
