{% extends "app/base.html" %}

{% block page_title %}This File Has Been Taken Down!{% endblock page_title %}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="card bg-white py-10 px-5 shadow-lg rounded-lg mx-auto w-3/5 flex flex-col gap-y-7">
        <i class="fa-solid fa-ban text-center text-8xl"></i>
        <h1 class="text-3xl font-semibold text-gray-800 text-center">This File Has Been Removed For Violating TOS</h1>
        <p class="text-xl font-medium text-gray-600 text-center">This file was reviewed by {{ report.reviewed_by.username }}.</p>

        <a class="bg-red-500 hover:bg-red-600 text-white mx-auto text-center w-24 py-2 rounded-sm transition duration-300 ease-in-out" href="{% url "home" %}">Exit</a>
    </div>
</div>
{% endblock content %}