{% extends "app/base.html" %}

{% block page_title %}{{ share_space.title }} by {{ share_space.user.username }}{% endblock page_title %}

{% block content %}
<div class="container mx-auto mt-6">
    <div class="space-header mb-6 flex justify-between items-center">
        <div>
            <h1 class="text-3xl font-semibold mb-1">{{ share_space.title }}
                <p class="inline font-semibold text-base text-gray-600 pl-2">by: {{ share_space.user.username }}</p>
            </h1>
            <p class="text-gray-600">{{ share_space.description }}</p>
        </div>
        <div class="flex items-center">
            <form action="" method="get" class="mr-4">
                <input type="text" name="search" placeholder="Search files..." value="{{ request.GET.search }}" class="text-sm">
                <button type="submit" class="text-sm">Search</button>
            </form>
            <button class="options-button bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded inline-flex items-center">
                <i class="fas fa-cog mr-1"></i>
                <span>Options</span>
            </button>
            <div class="options-dropdown hidden absolute bg-slate-50 shadow-lg rounded-lg mt-2 w-48">
                {% if is_owner %}
                    <a href="{% url 'edit_share_space' share_space.id %}" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"><i class="fa-solid fa-pen-to-square"></i> Edit ShareSpace</a>
                    <a href="{% url 'delete_space' share_space.id %}" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"><i class="fa-solid fa-trash-can"></i> Delete</a>
                {% else %}
                    {% if is_favorited %}
                        <a href="{% url 'unfavorite_space' share_space.id %}" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"><i class="fa-solid fa-heart"></i> Unfavorite</a>
                    {% else %}
                        <a href="{% url 'favorite_space' share_space.id %}" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"><i class="fa-regular fa-heart"></i> Favorite</a>
                    {% endif %}
                    <a href="{% url 'report_space' share_space.id %}" class="block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"><i class="fa-solid fa-flag"></i> Report</a>
                {% endif %}
            </div>
        </div>
    </div>

    <table class="min-w-full leading-normal">
        <thead>
            <tr>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    File Name
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    Uploaded
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr class="hover:bg-gray-100 transition duration-300 ease-in-out">
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <div class="flex items-center">
                        <div class="ml-3">
                            <p class="text-gray-900 whitespace-no-wrap">
                                {{ file.filename }}
                            </p>
                        </div>
                    </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap">{{ file.time_uploaded_from_now }} ago</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right">
                    <a href="{% url 'download' file.id %}" class="text-blue-500 hover:text-blue-800 transition duration-300 ease-in-out">
                        <i class="fa-solid fa-eye"></i> View
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                    <p class="text-gray-900 whitespace-no-wrap text-center">No files in this share space yet.</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination-container mt-5 py-3">
        <nav class="flex justify-center">
            <ul class="inline-flex items-center space-x-1">
                {% if files.has_previous %}
                    <li>
                        <a href="?page=1&search={{ request.GET.search }}" class="px-3 py-1 text-blue-600 hover:bg-blue-100 rounded-md border border-blue-600">First</a>
                    </li>
                    <li>
                        <a href="?page={{ files.previous_page_number }}&search={{ request.GET.search }}" class="px-3 py-1 text-blue-600 hover:bg-blue-100 rounded-md border border-blue-600">Previous</a>
                    </li>
                {% endif %}
                {% for num in files.paginator.page_range %}
                    {% if files.number == num %}
                        <li>
                            <a href="?page={{ num }}&search={{ request.GET.search }}" class="px-3 py-1 bg-blue-600 text-white rounded-md" aria-current="page">{{ num }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ num }}&search={{ request.GET.search }}" class="px-3 py-1 text-blue-600 hover:bg-blue-100 rounded-md border border-blue-600">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if files.has_next %}
                    <li>
                        <a href="?page={{ files.next_page_number }}&search={{ request.GET.search }}" class="px-3 py-1 text-blue-600 hover:bg-blue-100 rounded-md border border-blue-600">Next</a>
                    </li>
                    <li>
                        <a href="?page={{ files.paginator.num_pages }}&search={{ request.GET.search }}" class="px-3 py-1 text-blue-600 hover:bg-blue-100 rounded-md border border-blue-600">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const optionsButton = document.querySelector('.options-button');
            const optionsDropdown = document.querySelector('.options-dropdown');

            optionsButton.addEventListener('click', function() {
                optionsDropdown.classList.toggle('hidden');
            });
        });
    </script>
</div>
{% endblock content %}
